<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="index.css" rel="stylesheet">
    <link href="carousel.css" rel="stylesheet">
    <title>Gallery</title>
  </head>
  <body>
    <main>

      <div id="header">
        <div id="nav"><a href="collections.html" id="navigation">Collections</a></div>
        <div id="title"><h1>Gallery</h1></div>
      </div>

      <div class="container">
        <ul class="gallery">
          {{#each featured_images}}
            <li class="carousel">
                <a id="{{@index}}" href="#{{@index}}">
                    <img class="carousel_thumb" src="{{thumbnail}}"/>
                    <span class="carousel_full">
                      <img src="data/albums/{{collection}}/{{file_name}}"/>
                    </span>
                </a>
                <a class="carousel_close" href="#collection"></a>
                <div class="carousel_panel"> 
                  <a class="carousel_prev" href="#{{dec @index}}">prev</a>
                  <label class="carousel_divider">/</label>
                  <a class="carousel_next" href="#{{inc @index}}">next</a>
                </div>
            </li>
          {{/each}}
        </ul>
      </div>
    </main>
  </body>
</html>